<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Time Traveling Track List Generator</title>
  <meta name="author" content="creekk@oregonstate.edu">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
    <h1> Time Travelling Track List</h1>
    <p>  User is able to provide a date in time
        (given it is AFTER the inception of the Billboard Top 100) and a
        number of Tracks. The application will then provide the user with a
        track list, the length as provided by the user, consisting of randomly
        selected tracks from that time period that were on the Billboard 100
        Playlist.  Each track will be  hyperlinked to a different site where
        they can hear the song be played. </p>

    <form method="post" action="/">
        <p>Date <input type="date" name="date"/></p>
        <p>Number of Tracks <input type="number" name="num_tracks"/></p>
        <p><input type="submit" value="submit" name="generate"/></p>
    </form>
    <form method="post" action="/random">
        <p>
            <input type="submit" id="random" value="Random" name="random"/>
            <label for="random"> Make a Random Playlist! </label>
        </p>
    </form>


    <div id="content_space">
        {{ error }}
    </div>




</body>
</html>