<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Time Traveling Track List Generator</title>
  <meta name="author" content="creekk@oregonstate.edu">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
    <h1> Time Travelling Track List</h1>
    <p> Hello and welcome to the Time Travelling Tracklist! This is the website
        where you can take a time in history and determine what kind of music was
        being consumed by popular culture. To generate a track list (with songs hyperlinked
        to youtube). The steps are simple:
        <br>
        <ol>
            <li>Enter a Date From which you would like to Grab Music</li>
            <li>Select a number of tracks (1-100) for your playlist length</li>
            <li>Hit the Submit button and Enjoy!</li>
        </ol>
    <br>
        Alternatively, you can randomly generate a playlist by hitting the "random" button
    <br>
        If you don't like the playlist generated, no worries! Simply re-enter data and a new
        play list will generate! If you hate the new playlist, simply press "back" in your browser
        and the previously generate play list will be available.
    </p>

    <form method="post" action="/">
        <p>Date <input type="date" name="date"/></p>
        <p>Number of Tracks <input type="number" name="num_tracks"/></p>
        <p><input type="submit" value="submit" name="generate"/></p>
    </form>
    <form method="post" action="/random">
        <p>
            <input type="submit" id="random" value="Random" name="random"/>
            <label for="random"> Make a Random Playlist! </label>
        </p>
    </form>


    <div id="content_space">
        {{ error }}
    </div>




</body>
</html>