<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Time Traveling Track List Generator</title>
  <meta name="" content="">
  <meta name="author" content="creekk@oregonstate.edu">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
    <h1> Time Traveling Track List</h1>
    <p>
        Please See the Generated Track List Below! If you are not pleased with the results
        <ol>
            <li>Input a New Date (Prior to Today)</li>
            <li>Input a New number of Tracks (Between 1 and 100)</li>
            <li>Click the "Submit" Button to Generate new list. Output will appear below!</li>
        </ol>
        <br>
        OR Select the "Random" button below!
    </p>

    <form method="post" action="/">
        <p>Date <input type="date" name="date"/></p>
        <p>Number of Tracks <input type="number" name="num_tracks"/></p>
        <span><input  type="submit" value="submit" name="generate"/></span>
    </form>
    <form method="post" action="/random">
        <p>
            <input type="submit" id="random" value="Random" name="random"/>
            <label for="random"> Make a Random Playlist! </label>
        </p>
    </form>
    <div id="content_space">
        <ul>
        <!-- Iterate through each key in the first entry to get the column name -->
        {% for key in context.keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
            <li><a href="{{ context[key][1] }}">{{ key }}</a> By: {{context[key][0] }}</li>

        <!-- End of this for loop -->
         {% endfor %}
        </ul>

    </div>

</body>
</html>